<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artifact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artifact.description %>
</p>

<p>
  <strong>Image:</strong>
 <%= image_tag @artifact.image.url %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @artifact.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @artifact.category %>
</p>

<%= link_to 'Edit', edit_artifact_path(@artifact) %> |
<%= link_to 'Back', artifacts_path %>
